{
  "root": true,
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-unused-vars": [
      "error"
    ],
    "import/extensions": "off",
    "linebreak-style": [
      "error",
      "windows"
    ],
    "import/prefer-default-export": "off",
    "max-len": [
      "warn", 100
    ]
  }
}